*{
    margin: 0;
    padding: 0;
}
header{
    width: 800px;
    margin: 0 auto;
}
ul{
    width: 800px;
    margin-top: 3px ;
    background-color: #ffff00;
    height: 25px;

}
ul>li{
    float: left;
    list-style: none;
    width: 110px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    border-top: 1px solid #666;
    border-left:1px solid #666 ;
    text-align: center;
    text-decoration: none;
}
a:link {
    text-decoration: none;
    color: #666;
}
a:visited{
    color: #666;
}
li:first-child{
    width: 130px;
}
li:last-child{
    border-right: 1px solid #666;
}
section{
    width: 800px;
    margin: 0 auto;
}
footer{
    background-color: #e2e2e2;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}